<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> This page lists the Student records </h1>
      </header>
      <br> <br>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>Pincode</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["vehicle"]}}</td>
            <td> {{ row["grade"]}}</td>
            <td>{{row['telnum']}}</td>
            <td><img src={{"./static/"+row['picture']}} height="300" width="300" alt="No Image Available"></td>
         </tr>
         {% endfor %}
      </table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
      </center>
   </body>
</html>